<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027174806025-dn5261skcutiu576eir2ipiku9j5o3qf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027174806025-dn5261skcutiu576eir2ipiku9j5o3qf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1027174806025-71j515o1f2l3n3ibr6ko1bk180rkq8gk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLavmyZFtnvbnQOPf1T-kip6hAG7rpOKk</string>
	<key>GCM_SENDER_ID</key>
	<string>1027174806025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.sheeps.nolilteo</string>
	<key>PROJECT_ID</key>
	<string>nolilteo</string>
	<key>STORAGE_BUCKET</key>
	<string>nolilteo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027174806025:ios:ffb2ecc8cd9957f286fed8</string>
</dict>
</plist>